
<div class="col-md-3">
    <h1 class="text-center"><%= params[:category] %></h1>

    <% if @plays.count == 0 %>

      <h3>There are no plays in this category</h3>
      <% else %>
        <div class="row">
          <% @plays.each do |play| %>
          <div class="col-md-3">
            <a href="/plays/ <%= play.id %>">
              <%= image_tag play.play_image.url,  class: "play" %>
            </a>
          </div>
        </div>

    <% end %>


  <% end %>
</div>
